<div class="flex flex-col justify-center container mx-auto px-4">
    <app-post-card [title]="post.title" [desc]="post.desc" [username]="post.username" [created_at]="post.created_at"
        [userId]="post.userId" [points]="post.points" [id]="post.id">
    </app-post-card>


    <div *ngIf="user !== null" class="w-screen/2 bg-white p-2 pt-4 rounded shadow-lg">

        <div class="flex ml-3 items-center">


            <div class="
                        m-1
                        mr-2
                        w-12
                        h-12
                        relative
                        flex
                        justify-center
                        items-center
                        rounded-full
                        bg-gray-500
                        text-xl text-white
                        uppercase
                    ">
                {{ user.username[0] }}
            </div>
            <span class="text-green-600 text-base">
                {{ user.username }}
            </span>

        </div>
        <form [formGroup]="commentForm" (submit)="postComment()">
            <div class="mt-3 p-3 w-full">

                <textarea formControlName="comment" rows="3" placeholder="Write an answer..."
                    class="border p-2 rounded w-full"></textarea>
                <p class="text-gray-700 text-xs italic" *ngIf="comment.hasError('minlength')">
                    The post needs to be at least {{comment.errors!.minlength.requiredLength}} characters long.
                </p>


            </div>
            <div class="flex justify-between mx-3">
                <div>
                    <button [disabled]="commentForm.invalid"
                        class=" disabled:opacity-50 px-4 py-1 bg-green-800 text-white rounded font-light hover:bg-fancyBlack">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div *ngFor="let commentData of comments">
        <app-comment-card [title]="commentData.title" [desc]="commentData.desc" [username]="commentData.username"
            [created_at]="commentData.created_at" [userId]="commentData.userId" [points]="commentData.points"
            [id]="commentData.id"></app-comment-card>
    </div>

</div>