<div class="w-full max-w-xs">
    <form [formGroup]="registerForm" (submit)="onSubmit()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Username
            </label>
            <input formControlName="username" class="
                 {{username.invalid?' border-red-500':'border-green-500'}}
                    shadow
                    appearance-none
                    border
                    rounded
                    w-full
                    py-2
                    px-3
                    text-gray-700
                    leading-tight
                    focus:outline-none focus:shadow-outline
                " id="username" type="text" placeholder="Username" />
            <p *ngIf="username.invalid " class="text-red-500 text-xs italic">To short or empty username </p>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email"> Email </label>
            <input formControlName="email" class="
             {{email.invalid?' border-red-500':'border-green-500'}}
                    shadow
                    appearance-none
                    border
                    rounded
                    w-full
                    py-2
                    px-3
                    text-gray-700
                    leading-tight
                    focus:outline-none focus:shadow-outline
                " id="email" type="email" placeholder="jondoe@gmail.com" />
            <p *ngIf="email.invalid " class="text-red-500 text-xs italic">Wrong email format or is empty</p>

        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password"> Password </label>
            <input formControlName="password" class="
                         {{password.invalid?' border-red-500':'border-green-500'}}
                                shadow
                                appearance-none
                                border
                                rounded
                                w-full
                                py-2
                                px-3
                                text-gray-700
                                leading-tight
                                focus:outline-none focus:shadow-outline
                            " id="password" type="password" placeholder="*******" />
            <p *ngIf="password.invalid" class="text-red-500 text-xs italic">Passowrd is required
            </p>
            <p class="text-red-500 text-xs italic" *ngIf="password.hasError('minlength')">
                The minimum length for this field is {{password.errors!.minlength.requiredLength}} characters.
            </p>
            <p class="text-red-500 text-xs italic" *ngIf="password.hasError('maxlength')">
                The maximum length for this field is {{password.errors!.maxlength.requiredLength}} characters.
            </p>
        </div>
        <div class="flex items-center justify-between">
            <button [disabled]="registerForm.invalid" class="
                    bg-green-400
                    hover:bg-green-90000
                    text-white
                    font-bold
                    py-2
                    px-4
                    rounded
                    focus:outline-none focus:shadow-outline
                " type="submit">
                Sign In
            </button>
            <a routerLink="/login" class="
                    inline-block
                    align-baseline
                    font-bold
                    text-sm
                    outline-fancyBlack
                    text-gray-800
                    hover:text-green-600
                " href="#">
                Already have an accout
            </a>
        </div>
    </form>
    <p class="text-center text-gray-500 text-xs">&copy;2020 Acme Corp. All rights reserved.</p>
</div>