<div class="backdrop-grayscale min-w-full  m-auto mt-5">
    <button *ngIf="(isLoggedIn$ | async) !== null;" (click)="toggleModalPost()" class=" flex p-1 pl-5 pr-5 bg-green-400 border-2 border-green-500 text-fancyBlack text-lg rounded-lg
        transition-colors duration-700 transform hover:bg-fancyBlack hover:text-green-500 focus:border-4
        focus:border-green-300"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4">
            </path>
        </svg> Post
    </button>

    <app-post-modal></app-post-modal>


    <div class="w-2/3 py-2">
        <div class="inline-flex items-center mr-6">
            <div class="text-xxs text-grey font-semibold mr-4">VIEW</div>
        </div>
        <div class="inline-flex items-center">
            <div class="text-xxs text-grey font-semibold mr-4">SORT</div>
            <div *ngIf="sortPopular===true  else newButton" class="inline-flex items-center">
                <button (click)="handleSort()" class="inline-flex items-center">

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                    </svg>
                    <span class="text-blue text-xs font-semibold ml-1 mr-2">HOT</span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M7 11l5-5m0 0l5 5m-5-5v12" />
                    </svg>
                </button>
            </div>
            <ng-template #newButton>
                <div class="inline-flex items-center">
                    <button (click)="handleSort()" class="inline-flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                        </svg>
                        <span class="text-blue text-xs font-semibold ml-1 mr-2">HOT</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 13l-5 5m0 0l-5-5m5 5V6" />
                        </svg>
                    </button>
                </div>
            </ng-template>
        </div>
    </div>

    <div *ngFor="let post of postsData">

        <app-post-card [title]="post.title" [desc]="post.desc" [username]="post.username" [created_at]="post.created_at"
            [userId]="post.userId" [points]="post.points" [id]="post.id">
        </app-post-card>
    </div>



    <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
        <button class="
                relative
                inline-flex
                items-center
                px-2
                py-2
                rounded-l-md
                border border-gray-300
                bg-white
                text-sm
                font-medium
                text-gray-500
                hover:bg-gray-50
            " [ngClass]="{ 'no-hover': page == 1 }" [disabled]="page == 1" (click)="changePage(page - 1)">
            <span class="sr-only">Previous</span>
            <!-- Heroicon name: solid/chevron-left -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
            </svg>
        </button>
        <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
            <div class="ml-5 mr-5">
                <p class="text-sm text-gray-700">
                    Showing
                    <span class="font-medium mr-5">{{ page }}</span>

                    <span class="font-medium">{{ limit }}</span>
                    results
                </p>
            </div>
        </div>

        <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->

        <button class="
                relative
                inline-flex
                items-center
                px-2
                py-2
                rounded-r-md
                border border-gray-300
                bg-white
                text-sm
                font-medium
                text-gray-500
                hover:bg-gray-50
            " [ngClass]="{ 'no-hover': page == end }" [disabled]="page == end" (click)="changePage(page + 1)">
            <span class="sr-only">Next</span>
            <!-- Heroicon name: solid/chevron-right -->
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd" />
            </svg>
        </button>
    </nav>

</div>